body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
}
.container {
    padding: 20px;
    height: 94.7%;}

@media (min-width: 550px) {
        .container {
            padding: 20px;
            height: 94.4%;}
    }
    
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.header button {
    background-color: #dc3545;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 0 5px;
    cursor: pointer;
    border-radius: 5px;
}
.header button:hover {
    background-color: #c82333;
}
.header .right-buttons button {
    background-color: #28a745;
}
.header .right-buttons button:hover {
    background-color: #218838;
}
.header .right-buttons button:nth-child(2) {
    background-color: #ffc107;
}
.header .right-buttons button:nth-child(2):hover {
    background-color: #e0a800;
}
.header .right-buttons button:nth-child(3) {
    background-color: #007bff;
}
.header .right-buttons button:nth-child(3):hover {
    background-color: #0069d9;
}
.table-status {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.table-status .status {
    display: flex;
    align-items: center;
}
.table-status .status span {
    margin-left: 10px;
}
.table-status .status span.blank {
    background-color: #e9ecef;
}
.table-status .status span.running {
    background-color: #007bff;
}
.table-status .status span.printed {
    background-color: #28a745;
}
.table-status .status span.paid {
    background-color: #ffc107;
}
.table-status .status span.running-kot {
    background-color: #ffc107;
}
.table-status .status span {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
}
.section {
    margin-bottom: 20px;
}
.section h3 {
    margin-bottom: 10px;
    color: #6c757d;
}
.table-view {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.table-view .table {
    width: 100px;
    height: 88px;
    border: 2px dashed #6c757d;
    display: flex;
    top: 0px;
    text-align: center;
    justify-content: center;
    align-items: center; 
    margin: 5px;
    position: relative;
    border-radius: 10px;
    padding-top: 16px;
}
.table-view .table.running-kot {
    background-color: #ffc107;
}
.table-view .table .info {
    text-align: center;
    margin-top: -18px;
}
.table-view .table .info .time {
    font-size: 12px;
}
.table-view .table .info .price {
    font-size: 14px;
    font-weight: bold;
}
.table-view .table .info .icon {
    position: absolute;
    bottom: 5px;
    right: 5px;
}
.table-view .table .info .icon i {
    font-size: 16px;
}
.inquiry {
    text-align: center;
    font-size: 18px;
    color: #ff0000;
    font-weight: bold;
    margin: 20px 0;
}